/* 
FOR IPAD AND TABLETS */

@media (max-width: 1024px) and (min-width: 767px) {
  .logo {
    position: fixed;
    top: 0;

  }

  nav ul {
    max-height: 0px;
    background: white;
  }

  nav.black ul {
    background: white;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
    color: purple;
    background:pink;
  }
  .back .text {
    top: 25%;
    left: 50%;
  }
  .back .text h1 {
    top: 30%;
    left: 24%;
  }
}

/* FOR XL MOBILE SCREENS */

@media (max-width: 768px) {
  .footer-section {
    height: 100%;
  }
}

/* FOR SMALL MOBILE SCREENS */

@media screen and (max-width: 414px) {
  .footer-bottom p {
    font-size: 1.3rem;
  }
  .back .text {
    top: 5%;
    left: 47%;
  }
  .back .text h1 {
    top: 20%;
    left: 17%;
    font-size: 13rem;
  }
}
