.image-container {
    background-color: #fefcfa;
  }
  .container-fluid{
    z-index: 0;
    padding-bottom: 20%;
  }
  .individual-image-container {
    box-sizing: border-box;
    border-radius: 50%;
    height: 250;
    width: 250;
    align-items: center;
  }
  .gallery-container-heading {
    display: block;
    color: #36373e;
    font-size: 3rem;
  }
  .gallery-container-date {
    font-size: 1.5rem;
  }
  .gallery-container-time {
    color: #daad9e;
    font-size: 1.2rem;
    letter-spacing: 10px;
    margin-top: 20px;
  }
  
  .gallery-container-addr {
    font-size: 1.6rem;
  }
  .right-border {
    border-right: 3px solid #e09513;
  }
  .gallery-container-button-container {
    width: 100%;
    text-align: center;
    margin: 3rem;
  }
  .see-more-button {
    text-decoration: none;
    font-size: 1.5rem;
    color: #e09513;
    box-sizing: border-box;
    border: 1px solid chocolate;
    padding: 15px 40px;
    border-radius: 30px;
  }
  p{
    font-family: "Charm", cursive;
    color:brown;
  }
  .see-more-button:hover {
    text-decoration: none;
    color: white;
    background-color: #e09513;
    font-size: 1.7rem;
    transition: 0.3s;
  }
  .horse{
    position: fixed;
    top:75%;
    display: block;
    background-color: white;
    opacity: .9;
    overflow: hidden;
    width:100%;
    height: 30%;
    z-index: 1;
  }
  .horse img{
    width:20%;
    opacity: 1;
  }